body {
    display : flex;
    margin: 0px;   
    padding: 0px; 
    background-color: blue;
    color: white;
    font-family: 'RoundedFixedsys';
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap : 16px;
    
    height: 100vh;

    
}

.version {
    position : absolute;
  top: 16px;         
  right: 24px;       
  color: white;
}

.number {
    position : absolute;
  left: 16px;       
  bottom: 16px;     
  color: white;
    }


@font-face {
    font-family: 'RoundedFixedsys';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

.big-text {
    font-size: 64px;
}

.mid-text {
    font-size: 32px;
    

}